<!DOCTYPE html>
<html>
<head>
  <title>Satchel</title>
  <%= stylesheet_link_tag    "satchel/application", :media => "all" %>
  <%= javascript_include_tag "satchel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
